.container {
    width: 680px;
    margin: 0 auto;
}

#title {
    background-color: #58656D;
    color: #fafafa;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

#content {
    padding: 1rem;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 2.0;
}

#welcome_msg {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

div#cipher_panel {
    margin: 3rem auto;
}

textarea#original {
    margin-top: 1rem;
    width: 100%;
    height: 350px;
}

div#cipher {
    background-color: lightslategray;
    margin-top: 1rem;
    white-space: normal;
    word-break: break-all;
}

input#cipher_key {
    margin-top: 1rme;
    width: 100%
}

.flex-container {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
}

.none {
    display: none;
}

.show {
    display: block;
}

input {
    width: 60%;
    height: 35px;
    margin-right: 0.4rem;
}

@media (max-height: 680px) {
    .container {
        width: 100%;
    }

    #content {
        padding: 0.5rem;
        font-size: 14px;
        line-height: 1.8;
    }
}